{% load static %}
<html>
	<head>
		<title>Movie Streamer</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

		<link rel="stylesheet" href="{% static 'streamer_app.css' %}">
	<body>
		<div class="page-header">
			<h1><a href="/">Welcome to your movie streamer app</a></h1>
			<h4><font color="white">A all-in-one streamer app for serious entertainment enthusiasts</font></h4>
			<br>
			<br>
		</div>
		<div class="content container">
		    <div class="row">
				<div class="col-md-8">
			    		{% block content %}
						{% endblock %}
				</div>
		    </div>
		</div>
	</body>
	</head>
</html>