{% load static %}
<html>
	<head>
		<title>Movie Streamer</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/redmond/jquery-ui.css" rel="Stylesheet" />
		<script language="javascript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script> 
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script>
		<link rel="stylesheet" href="{% static 'streamer_app.css' %}">
	</head>
	<body>
		<div class="page-header">
			<img src="{% static 'streamer_app/logo.png' %}" alt="Logo">
			<h1><a href="/">Welcome to your movie streamer app</a></h1>
			<h4><font color="blue">An all-in-one streamer app for serious entertainment enthusiasts</font></h4>
			<br>
			<br>
		</div>
		<div class="content container">
		    <div class="row">
				<div class="col-md-8">
			    		{% block content %}
						{% endblock %}
				</div>
		    </div>
		</div>
	</body>
</html>