{% extends 'streamer_app/base.html' %}

{% block content %}
	<h3><a href="/accounts/profile">Back to all movies</a></h3>
    <div class="movie">
		<h2>{{ movie.title }}</h2>
		{% if movie.published_date %}
            <div class="date">
                {{ movie.published_date }}
            </div>
        {% endif %}
    <iframe width="560" height="315" src="{{ movie.url }}" frameborder="0" 
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
    </div>
	<br>
	
	<a class="btn btn-default" href = "{% url 'comment_new' pk=movie.pk %}">comment on this movie <span class="glyphicon glyphicon-pencil"></span></a>
	{% if request.user.is_staff %}
		<a class="btn btn-default" href = "{% url 'movie_edit' pk=movie.pk %}">Edit this movie <span class="glyphicon glyphicon-pencil"></span></a>	
	{% endif %}
	<h3>{{comment_count}} comment(s):</h3>
	<div class = "comments">
		{% for comment in comments %}				
			<p>{{ comment.text|linebreaksbr }}</p>
			{% if comment.published_date %}
				<div class="date">
					{{ comment.published_date }}
				</div>
			{% endif %}
			</p>
			<p>commented by: {{comment.author}}</p>
			<hr>
			<br>
		{% endfor %}
	</div>	
{% endblock %}