{% extends 'streamer_app/base.html' %}

{% block content %}
    <h2>Welcome to your dashboard, {{ user.username }}</h2>
    {% if request.user.is_staff %}
    <a href="{% url 'movie_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span>Add movie</a>
    {% endif %}
    <h4>Here are the list of all movies availaible for you</h4>
    <br> <br>
    {% for movie in movies %}
    <iframe width="560" height="315" src="{{ movie.url }}" frameborder="0" 
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
    {% endfor %}
    <h5><a href="{% url 'logout' %}">Logout</a></h3>
{% endblock %}
